<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::#content},~{::title},~{::script})}">
<head>
    <title>About Page</title>
</head>
<body>
    <div id="content">
        <h1>this is about page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Debitis tempore, sit enim sequi consequuntur, vel aperiam quidem nostrum ratione voluptas tenetur a pariatur natus doloribus libero nisi impedit saepe eius.</p>
    </div>
    <script>
        console.log("this is about page");
    </script>
</body>
</html>